@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin flexMixins($pos)
{
    display: flex;
    justify-content: $pos;
    align-items: center;
}

