
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-body);
    &__menu--logo
    {
        img{
            width: 20rem;
            position: absolute;
            z-index: 30;
            top:-5rem;
            left: -5rem;

        }
    }

    &__menu 
    {
        @include flexMixins(space-between);
        width: 100%;

    }
    &__items
    {
        @include flexMixins(space-evenly);
        list-style: none;
        width: 50%;
        a{
            display: block;
            text-decoration: none;
            margin: 1rem;
            color: var(--color-ico-sep);
            font-size: var(--size-title-2);
            text-transform: uppercase;
            &:hover{
                color:var(--color-ico-sep);
            }
        }
    }
}


.cont {
    position: fixed;
    z-index: 999;
    top: 70px;
    right: 40px;

    input {
        width: 90px;
        height: 40px;
        background: #111;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 20px;
        cursor: pointer;
    }

    input:checked {
        background: #fff;
    }

    input::after {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #a89422;
        transform: translate(5px, 5px);
        transition: 0.3s linear;
    }

    input:checked::after {
        inset: unset;
        background: transparent;
        box-shadow: 10px 10px 0 #353b48;
        transform: translate(calc(90px - 45px), -5px);
    }
}

/*************************************************/
/*********************************** Responsive */
@media (max-width: 780px) {

    .navbar {
        
        &__menu
        {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
        &__items
        {
            a{
                font-size: var(--size-text);
            }
        }
    }

}