

.user__avatar {
    border-radius: 50%;
    width: 45px;
}

.header {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    background-color: var(--color-body);
    z-index: 100;
    left: 0;
    top: 0;
    height: 90px;

    a{
        text-decoration: none;
        display: block;
        font-size: var(--size-title-3);
    }
    &__left {
        display: flex;
        align-items: center;
        img {
            height: 20rem;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        color: var(--color-text-white);
        font-size: var(--size-title-2);
        
    }
    &__middle {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex: auto;
    }
  
}