/*================Root==================*/
/* creer les variable sass */

:root {
    --font-text: 'Open Sans', sans-serif;
    --font-title: 'Raleway', sans-serif;
    --size-text: 1.5rem;
    --size-title-1: 2.5rem;
    --size-title-2: 2.3rem;
    --size-title-3: 3rem;
    --size-title-4: 3.5rem;
    --line-height-1: 1rem;
    --line-height: 2rem;

/* les couleur  */

    --color-body: #ffffff;
    --color-main: #fff;
    --color-text: #333;
    --color-title: #0db4ca;
    --color-input:#5c5c5c;
    --color-text-white: #333333;
    --color-text-gray: #555555;
    --color-side-burger: #898989;
    --color-text-btn: #ffffff;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-header-title: #fff;
    --color-header-text: #e2f7ff;
    --color-header-link: #fff;
    --color-burger: #111;
    --color-ico-sep: #ce5ebf;
    --color-hover-ico:#0db4ca;
    --color-primary:#eff2f5;
    --color-th-tr:#fafafa;
     --color-text-gold: rgb(4, 153, 190);
    --input-form:#fafafa;

/*     les bordure  */

    --border-1px: 1px solid #d3d3d3;
    --border-2px: 2px solid #ddd;


 /*    box shadow */
    --shadow-article:0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    --shadow-header:0 5px 8px -9px rgba(0, 0, 0, 0.75);
    --shadow-form: 0 0 1px rgba(0, 0, 0, 0.2);
    --shadow-article: 0 0 3px rgba(0, 0, 0, 0.3);
    --shadow-comment: 0 0 5px rgba(0, 0, 0, 0.4);

/* les gradient */
    --background-gradient:linear-gradient(to right, #a852e0, #DC31CB);
}

/*===============Dark ================*/

[data-theme="dark"] {

    --font-text: 'Open Sans', sans-serif;
    --font-title: 'Raleway', sans-serif;

  /*   taille */
    --size-text: 1.5rem;
    --size-title-1: 2.5rem;
    --size-title-2: 2.3rem;
    --size-title-3: 3rem;
    --size-title-4: 3.5rem;
    --line-height-1: 1rem;
    --line-height: 2rem;

/*  couleur */
    --input-form:#fff;
    --color-text-gold:#a89422;
    --color-input: #e6e6e6;
    --color-body:#000000;
    --color-main: #333;
    --color-title: #ce5ebf;
    --color-text: #a89422;
    --color-text-white: #e2f7ff;
    --color-input:#e6e6e6;
    --color-input-black:#333;
    --color-header-title: #fff;
    --color-link-hover: #fff;
    --color-menu: #0c6588;
    --color-side-burger: #898989;
    --color-ico-sep:aqua ;
    --color-hover-ico:#ce5ebf;
    --background-gradient: linear-gradient(to right, #a89422, #f4d875);
    --color-text-btn: #ffffff;
    --color-primary: #000000;
    --color-th-tr: #fafafa;

/*   box-shadow */
    --shadow-header: 0 5px 8px -9px rgba(255, 255, 255, 0.75);
    --shadow-article: 0px 5px 7px -7px rgba(236, 236, 236, 0.75);
    --shadow-form: 0 0 1px rgba(243, 207, 207, 0.2);
    --shadow-article: 0 0 3px rgba(187, 187, 187, 0.3);
    --shadow-comment: 0 0 5px rgba(202, 202, 202, 0.4);
}

