/*================Root==================*/
/*===============Dark ================*/
/* creer les variable sass */
/* couleur de text */
.menucontainer {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  background: linear-gradient(#63415e, #851576);
  color: #00ffff;
  padding: 0 2rem;
}
.menucontainer__burger {
  display: none;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu--logo {
  font-size: 2rem;
  color: #00ffff;
  font-weight: 600;
  text-decoration: none;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50rem;
}
.navbar__menu--link {
  text-align: center;
  width: 10rem;
  margin: 0rem 0.3rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  transition: 0.3s;
  border-radius: 2rem;
  color: #00ffff;
  border: 0.01rem solid #00ffff;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2), -3px -3px 8px 0 rgba(255, 255, 255, 0.301);
  color: #00ffff;
  font-weight: 600;
  text-decoration: none;
}
.navbar__menu--link:hover {
  transform: scale(1.1);
  background-color: #c57ebb;
  opacity: 0.5;
}

.active {
  background-color: linear-gradient(#63415e, #851576);
  color: #00ffff;
}

@media only screen and (max-width: 700px) {
  .navbar__menu--logo {
    z-index: 35;
  }
  .menucontainer__burger {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    background: transparent;
    z-index: 30;
  }
  .menucontainer__burger .open {
    display: block;
  }
  .menucontainer__burger .close {
    display: none;
  }
  .active .open {
    display: none;
  }
  .active .close {
    display: block;
  }
  .navbar__menu--item {
    display: none;
  }
  .navbar__menu {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 70vh;
    background: linear-gradient(#63415e, #851576);
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    transition: transform 0.2s;
    visibility: hidden;
    z-index: 1;
  }
  .active .navbar__menu {
    visibility: visible;
    transition: transform 0.5s;
  }
  .active .navbar__menu--item {
    display: block;
  }
}
.container-ipt {
  margin: 5rem 2rem;
  width: 35rem;
  height: 50rem;
  background: linear-gradient(#63415e, #851576);
  border-radius: 2rem;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: none;
}
.container-ipt .container-ipt__form {
  display: grid;
  grid-template-columns: 1fr;
}
.container-ipt .container-ipt__form form {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-ipt__login {
  visibility: hidden;
}
.container-ipt__title {
  color: #00ffff;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.container-ipt__field {
  width: 30rem;
  margin: 0.8rem 0;
  height: 4rem;
  background: none;
  display: flex;
  align-items: center;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(160, 156, 156, 0.5);
  border-radius: 3rem;
}
.container-ipt__field i {
  flex: 1;
  text-align: center;
  font-size: 1.3rem;
  color: #00ffff;
}
.container-ipt__field input {
  flex: 5;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 3rem;
  border: none;
  outline: none;
  background: none;
  color: #fdfdfd;
}
.container-ipt p,
.container-ipt a {
  font-size: 1.3rem;
  color: #00ffff;
}
.container-ipt .account-text {
  color: #00ffff;
}
.container-ipt__error {
  font-size: 1.3rem;
  color: rgb(228, 124, 124);
  opacity: 0.8;
}

.btn {
  width: 10rem;
  height: 4rem;
  background: linear-gradient(#63415e, #851576);
  font-size: 1, 5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0;
  color: #00ffff;
  cursor: pointer;
  border: 1px solid #00ffff;
  border-radius: 2rem;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2), -3px -3px 8px 0 rgba(255, 255, 255, 0.301);
}
.btn:hover {
  transform: scale(1.1);
  background-color: #0c4646;
}

@media (max-width: 750px) {
  .container-ipt {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    border-radius: 3px;
  }
  .container-moove {
    visibility: hidden;
  }
}
@media screen and (min-width: 720px) {
  .menu-small {
    display: none;
  }
  .menu {
    left: 0;
    top: 0;
    display: flex;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .menu__item {
    text-align: center;
    flex: auto;
    line-height: 1;
  }
  .menu__link {
    color: rgb(187, 156, 156);
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  .menu__link:hover {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    color: aqua;
  }
}
.sidebar__content {
  position: fixed;
  background: linear-gradient(#63415e, #851576);
  transition: all 0.3s ease;
  width: 30rem;
  left: 0;
  height: 100vh;
  top: 0;
  padding: 1rem;
  text-align: center;
  color: #00ffff;
  font-size: 1.5rem;
}
.sidebar__content img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: auto;
  border: 0.5rem solid black;
}
.sidebar__content-hamburger {
  position: absolute;
  left: 28rem;
  color: #fdfdfd;
  font-size: 3rem;
  cursor: pointer;
}

.sidebar-menu .side_open {
  display: block;
}
.sidebar-menu .side_close {
  display: none;
}
.sidebar-menu__item {
  position: relative;
  cursor: pointer;
}
.sidebar-menu__item a {
  display: block;
  text-decoration: none;
  color: #00ffff;
  font-size: 1.5rem;
  line-height: 6rem;
  padding: 0.5rem 2rem;
  border-bottom: 0.2rem solid #0c6588;
}
.sidebar-menu__item a:hover, .sidebar-menu__item a:active {
  color: #fdfdfd;
  background-color: #c57ebb;
  border-left: 1px solid #fff;
}
.sidebar-menu .active .side_open {
  display: none;
}
.sidebar-menu .active .side_close {
  display: block;
}

.container {
  position: relative;
  width: 100%;
}

.container-moove {
  position: absolute;
  left: 30%;
  z-index: -300;
  width: 100%;
}

html {
  font-size: 62%;
}

.container-moove {
  position: absolute;
  z-index: -999;
  width: 100%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
