@import 'scss/normalize';
@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/mixin';
@import 'scss/nav';
@import 'scss/navheader';
@import 'scss/form';
@import 'scss/sidebar';
@import 'scss/burger';

html {
    font-size: 62.5%;
}

.container{
    position: relative;
    width: 100%;
   
}


body {
    font-size: 1.6rem;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--color-primary);
    h2{
        font-family: 'poppinsextralight';
        font-weight: bolder;
    }
}
/** list account*/
table {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--color-ico-sep);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    img{
        max-width: 50px;
        border-radius: 50%;
    }
    td,
    th {
        padding: 1rem 2rem;
        text-align: center;
    }

    thead {
        background-color:var(--color-ico-sep);
    }

    th {
        background-color: var(--color-ico-sep);
        color: var(--color-text-gray);
        font-weight: 200;
        text-transform: uppercase;

    }

    tr {
        width: 100%;
        background-color: var(--color-th-tr);
    }

    tr:nth-child(even) {
        background-color:var(--color-main);
        color:var(--color-text-white);
    }
    i{
        &:hover 
        {
            color: var(--color-ico-sep);
        }
    }
}

i{
    font-size: var(--size-title-2);
    margin: 1rem;
    color: var(--color-ico-sep);
    cursor:pointer;

    a:visited{
        
        color: var(--color-text-gold);
        
    }

}

/******************************************************/
/* account*/
/*****************************************************/

.account {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: var(--color-main);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-article);
    width: 100%;
    h2{
        font-size: var(--size-title-3);
        color: var(--color-text-white);
    }
    label{
        font-size: var(--size-title-1);
        color: var(--color-text-white);
    }
    &__separator 
    {
        width: 20rem;
        height: .3rem;
        background-color: var(--color-ico-sep);
        margin: 1rem 0;
    }

    /* hauts du form d'article */
    &__top 
    {
        border-bottom: 1px solid var(--color-primary);
        padding: 15px;
        border-bottom: none;

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        input {
            flex: 1;
            outline-width: 0;
            border: none;
            padding: 15px 20px;
            margin: 10px 0px;
            border-radius: 999px;
            background-color: var(--color-primary);
            color: var(--color-text-white);
        }
    }
    i {
        font-size: 3rem;
    }

    /*  bas de form d'article */
    &__bottom {
        display: flex;
        justify-content: center;
      
        button {
            border: none;
            background-color: transparent;
        }
    }

    &__option {
        padding: 8px;
        display: flex;
        align-items: center;
        color:var(--color-text);
        margin: 5px;

        h2 {
            font-size: var(--size-title-2);
            margin-left: 10px;        
        }
    }

    i {
        color: var(--color-ico-sep);
        font-size: var(--size-title-3);
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }
    }

    input[type="checkbox"] {
 
        width: 90px;
        height: 40px;
        background:var(--color-primary);
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 20px;
        cursor: pointer;
        &:checked 
        {
            background: var(--color-text-gold);
        }
    }
}

.content {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/******************************************************/
/****Article_comment
/******************************************************/
.show-article{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articleComment {
    margin-top: 30px;
    background-color: var(--color-main);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;

}
.alert__error {
    font-size: 1.5rem;
    color:rgb(255, 104, 104);
}
.alert__success{
    font-size: 1.5rem;
    color: rgb(17, 209, 55);
}
/***************** responsive *************************/


@media only screen and (max-width: 800px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {

        display: block
    }




    td {
        position: relative;
        text-align: left;
    }

    td:before {

        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
    }
}

