@import 'scss/variables';
@import 'scss/mixin';
@import 'scss/nav';
@import 'scss/form';
@import 'scss/footer';
@import 'scss/media';



body {
    box-sizing: border-box;
    background-image: url("../img/fond4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ecf9ff; //changer 
    overflow-x: hidden;
    overflow-y: hidden;
}
main{
    @include displayFlex;
}

